<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS file(s) --> 
    <link rel="stylesheet" href="/style.css">
    <!-- Grab title from the page data and dump it here --> 
         <title>{{ title }}{% if page.url != '/' %} | aww.baby{% endif %}</title>
    </head>
    
    <header>
        <div>
            <h1 class="title"><a href="/">aww.baby</a></h1>
            <p>a blog celebrating the interior life</p>
        </div>
        <div>
            {% include "components/nav.njk" %}
        </div>
    </header>

    <body>
        <div class="content">
        <!-- Grab the content from the page data, dump it here, and mark it as safe -->
        <!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->
       {{ content | safe }}
        </div>

        <footer>
            <div>
              <p>made with {% lucide "heart", { "fill": "#F38BA8", "stroke-width": "0", "size": "14px" } %} by laurel</p>
            </div>
          </footer>

    </body>

</html>