<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS file(s) -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/style.css">
    <a rel="me" class="hide" href="https://social.lol/@laurel">Mastodon</a>
    <!-- Grab title from the page data and dump it here -->
    <title>{{ title }}{% if page.url != '/' %} | aww.baby{% endif %}</title>
</head>

<header>
        <h1 class="title" alt="aww baby"><a href="/"><span>aww baby</span></a></h1>
        <div class="nav">
        {% include "components/nav.njk" %}</div>
</header>

<body>
    <div class="content">
        <!-- Grab the content from the page data, dump it here, and mark it as safe -->
        <!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->
        {{ content | safe }}
    </div>

    <footer>
        <div id="footer-cen">
            <p>made with <span alt="heart symbol">{% lucide "heart", { "fill": "#F38BA8", "stroke-width": "0", "size": "14px" } %}</span> by <a href="https://laurel.omg.lol">laurel</a></p>
            <p>built with <a href="https://11ty.dev">11ty 3.0</a> | hosted by <a href="https://www.netlify.com">Netlify</a>
            </p>
    </footer>

</body>

</html>