---
layout: base.njk
---

<section class="heading">
  <p class="page-date">{{ page.date | postDate }}</p>
  <br>
  <h1>{{ title }}</h1>
</section>
<main>
  <article>
    {{ content | safe }}
  </article>
</main>