---
layout: base.njk
---

<section class="heading">
   <br>
  <h1 class="post__title">{{ title }}</h1>
</section>
<main>
  <article>
    {{ content | safe }}

    <div class="post__date"><span class="post__posted">{{ page.date | postDate }}</span>
      <span class="permalink"><span alt="link icon">{% lucide "link" %}</span> <a href="{{ post.url }}">Permalink</a></span>
      </div>
  </article>
</main>