---
layout: base.njk
---

<section class="heading">
  <p class="page-date">posted {{ page.date | postDate }}</p>
  <br>
  <h1 class="post__title">{{ title }}</h1>
</section>
<main>
  <article>
    {{ content | safe }}
  </article>
</main>