<footer>
<div id="footer">

    <div class="foot-bar">
        <div class="foot-1">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/slash-pages">Slash Pages</a></li>
                <li><a href="/archive">Archive</a></li>
                <li><a href="/subscribe">Subscribe</a></li>
             </ul>
        </div>

        <div class="foot-2">
            <p>
                made with <span class="icon-heart" aria-label="heart">{% icon "lucide:heart" %}</span> by laurel
            </p>

               </div>
    </div>

</div>
</footer>