
<div class="post-list">


{% for post in collections.blog | reverse %}


<!--indicate type of post (flexbox) -->
<div class="{{ post.data.type }}"> 

  <div class="card__heading"> 
    <!-- set post icons -->
      <div class="text-icon">{% lucide "text" %}</div>
      <div class="photo-icon">{% lucide "image" %}</div>
      <div class="link-icon">{% lucide "link" %}</div>
      <span><time span>{{ post.date | postDate }}</time>
  </div>


  <!-- heading for text posts -->

  <!-- image container ( > flexbox) -->
<div class="card__imageContainer">
      <a href="{{ post.url }}"> 
          <img src="{{ post.data.photo }}" class="card__image"/>
      </a>
</div>

  <!-- content container ( > flexbox) -->
<div class="card__content">

    <!-- post timestamp -->
      <div class="card__date">
        <time span>{{ post.date | postDate }}</time>
    </div>
        <!-- post title -->
      <a href="{{ post.url }}">
        <span class="card__title">{{ post.data.title }}</span>
      </a>
        <!-- post caption -->
    <span class="card__caption"><a href="{{ post.url }}">{{ post.data.caption }}</a></span>
  </div>

  
</div>
<br>
    {% endfor %}

</div>