
{% for post in collections.blog | reverse %}

<button class="post-preview">
    <a href="{{ post.url }}">  

<div class="post-text">
<h1>{{ post.data.title }}</h1>
</div>

<div class="post-thumb">
    <img src="{{ post.data.photo }}">
</div>
</a>
</button>
<hr>
    {% endfor %}
