@use "theme";


/*
┌────────────────────────────────────────┐
GENERAL USE                             [0]
└────────────────────────────────────────┘
*/

/* responsive
/* ──────────────────────────────────── */

@mixin mediaBig {
    @media (min-width: 590px) {
    @content;
    }
}

    @mixin reset-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
  
  @mixin horizontal-list {
    @include reset-list;

    li {
        display: inline-block;
        margin: {
          left: -2px;
          right: 1em;
        }
      }
    }

/*
┌───────────────────────────────────────────────────┐
NAVIGATION                                         [1]
└───────────────────────────────────────────────────┘
*/


    nav ul {
        @include horizontal-list();
        & li {
            font-size: 0.8em;
        }
        @include mediaBig {
            font-size: 1.2em;
        }
    }

/*
┌───────────────────────────────────────────────────┐
POST LIST CARDS                                    [1]
└───────────────────────────────────────────────────┘
*/



/* mixins
/* ──────────────────────────────────── */

    @mixin cardTitle {
        font-size: 1.5em;
        color: var(--surface0);
        margin-left: -4px;

        @include mediaBig {
            line-height: 1em;
            font-size: 1.9em;
            margin-bottom: 2em;
        }
    }

    @mixin cardDate {
        display: flex;
        text-transform: uppercase;
        margin-bottom: 4em;
        text-align: right;
        float: right;
        margin: 0 0em 1em 1em;
        line-height: 1em;
        font-size: 0.8em;
        color: var(--surface2);

        @include mediaBig {
            float: none;
            margin: 0 0 2em 0;
            text-align: right;
        }
    }


/*
POST LIST CARDS                       [ CARD ]
└────────────────────────────────────────┘
*/

    .card {
        max-width: 100%;
        padding: 0em;
        margin: 0.5em 0em 1em 0em;
        font-family: var(--primary-font);
        display: flex;
        flex-direction: column;

    @include mediaBig {
        flex-direction: row;
        align-items: stretch;
        gap: 1em;
        padding: 0;
    }
    }


/* card components
──────────────────────────────────── */

    :is(.card) .card__imageContainer {

        @include mediaBig {
        max-width: 50%;
        min-width: 50%;
        margin-bottom: 0;
    }
    }

            .card__image {
                width: 100%;
                max-height: 150px;
                object-fit: cover;
                margin-bottom: 0;
                
                @include mediaBig {
                max-height: none;
                min-height: 400px;
                margin-bottom: 0;
                }
            }


    .card__content {
        @include mediaBig {
            max-width: 100%;
            display: flex;
            flex-direction: column;
        }
        & a {
            color: var(--link);
            text-decoration: none;
        }
    }
    
            .card__title {
                @include cardTitle;
                max-width: fit-content;

                @include mediaBig {
                    margin-bottom: 2em;
                    }
            }
        
            .card__date {
                @include cardDate;
                margin: 0 0 0 1em;
            }

            .card__caption {
                display: block;
                margin: 1em 0 0 0;
                font-size: 0.8em;
            }


/*
POST LIST CARDS                       [ TEXT ]
└────────────────────────────────────────┘
*/

        
    .text {
        max-width: 100%;
        padding: 0em;
        margin: 0.5em 0em 1em 0em;
        font-family: var(--primary-font);
        display: flex;
        flex-direction: column;
    }

    :is(.text) .card__content {
        width: 100%;
    }

    :is(.text) {
        text-align: center;
        & .card__date, .card__title, .card__image {
            display: none;
        }
    }

/*
POST LIST CARDS                      [ PHOTO ]
└────────────────────────────────────────┘
*/

    .photo {
        max-width: 100%;
        padding: 0em;
        margin: 0.5em 0em 1em 0em;
        font-family: var(--primary-font);
        display: flex;
        flex-direction: column;
    }

    :is(.photo) .card__image {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        margin-bottom: 18px;
        
        @include mediaBig {
          width: 100%;
          max-height: 400px;
          min-height: 400px;
          margin-bottom: 0;
          margin: 0 auto;
        }
    }

    /* hide card content */
    :is(.photo) .card__content {
        display: none;
    }
    /* hide photo date */
    .card__photodate {
        display: none;
    }

    /* ──────────────────────────────────── */

    :is(.photo, .text) .card__photodate {
        font-size: 0.8em;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-bottom: 1em;
    }




/*
┌────────────────────────────────────────┐
POSTS                                   [4]  
└────────────────────────────────────────┘
*/

.post__title {
    margin-top: 1em;
    margin-bottom: 0;
}



    /* ──────────────────────────────────── 

$LIGHTING_FLOOR: 1;
$LIGHTING_CEIL: 2;
$LIGHTING_FLAT: 3;

@mixin text3d(
  $primary, 
  $depth: 5, 
  $shadowsteps: 5, 
  $shadowincrementer: 3px, 
  $shadowopacity: .5, 
  $primaryshadowcolour: #000, 
  $lighting: $LIGHTING_CEIL) {
  $predefinedShadows: (
    0 0 5px rgba($primaryshadowcolour, .05), 
    0 -1px 3px rgba($primaryshadowcolour, .2), 
    0 3px 5px rgba($primaryshadowcolour, .2));
  $value: ();
  @for $i from 1 through $depth {
    $num: $i + px;
    $hueadjust: $i;
    @if($lighting == $LIGHTING_FLOOR) {
      $hueadjust: ($i * 2 - $depth - 5) * 1%;
    } @elseif($lighting == $LIGHTING_CEIL) {
      $hueadjust: -($i*2 + $depth - 10) * 1%;
    } @elseif($lighting == $LIGHTING_FLAT) {
      $hueadjust: -$depth * 1%;
    }
    $colour: adjust-color($primary, $lightness: $hueadjust);
    $theShadow: 0 $num 0 $colour;
    $value: append($value, $theShadow, comma);
  }
  
  @for $i from 1 through $shadowsteps {
    @if($i >= length($predefinedShadows)) {
      $dist: $i * $shadowincrementer;
      $value: append($value, 0 $dist $dist rgba($primaryshadowcolour, $shadowopacity));
    } @else {
      $value: append($value, nth($predefinedShadows, $i));
    }
  }
  
  text-shadow: $value;
}

$primarycolour: rgba(255, 240, 172, 0.2);

.title-background {
    height: 4em;
    max-width: 70em;
    margin: 0 auto;
    border-radius: 1em;
}

.a-title {
  color: rgb(244, 235, 255)  ;
  font-family: var(--secondary-font);
  font-size: 60px;
  line-height:1em;
  margin: 0;
  text-align: center;
  
  @include text3d(
    adjust-color($primarycolour, $lightness: -8%), 
    $depth: 8, 
    $primaryshadowcolour: adjust-color($primarycolour, $lightness: -10%, $saturation: +20%),
    $shadowopacity: .3);
}

*/