@use "theme";

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  @mixin horizontal-list {
    @include reset-list;

    li {
        display: inline-block;
        margin: {
          left: -2px;
          right: 2em;
        }
      }
    }

/*
┌────────────────────────────────────────┐
NAVIGATION                               
└────────────────────────────────────────┘
*/


    nav ul {
        @include horizontal-list();
    }

/*
┌────────────────────────────────────────┐
PREVIEW CARDS                        
└────────────────────────────────────────┘
*/
    @mixin mediaBig {
        @media (min-width: 590px) {
          @content;
        }
    }

    .card__content {
        @include mediaBig {
            width: 55%;
            padding-left: 1em;
          }
          & a {
            text-decoration: none;
          }
    }

.text,
.photo {
    max-width: 100%;
    padding: 1em;
    margin: 1em;
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
}

.card,
.quote {
    max-width: 100%;
    border: 0px solid var(--surface0);
    font-family: var(--primary-font);
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
    display: flex;
    flex-direction: column;

  @include mediaBig {
    flex-direction: row;
    align-items: center;
    margin: 1em;
    padding: 1em;
  }
}

@mixin cardTitle {
    font-size: 2em;
    padding-bottom: 1em;
    line-height: 1em;
    color: var(--surface2);
    box-decoration-break: clone;
    background-size: 100% 42%;
    background-position: 0 85%;
    background-repeat: no-repeat;
    padding: 0 4px;
    margin-left: -4px;

    @include mediaBig {
        font-size: 3.5em;
    }
}

:is(.card) .card__title {
    @include cardTitle;/*
        background-image: linear-gradient(90deg, #74c6ecb3, #F5C2E7b3);
        &:hover {
            background-image: linear-gradient(90deg, #74c7ec, #F5C2E7);
        }*/
}

:is(.quote) .card__title {
    @include cardTitle;
    /*
    background-image: linear-gradient(90deg, #F9E2AFb3, #89DCEBb3);
    &:hover {
        background-image: linear-gradient(90deg, #F9E2AF, #89DCEB);
    }*/
}

:is(.text) .card__content {
    width: 100%;
    & .card__title {
    @include cardTitle;
    margin-top: 1em;
}
}

@mixin cardDate {
    display: block;
    text-transform: uppercase;
    float: right;
    margin-left: 1em;
    margin-bottom: 2em;
    border: 0px solid var(--surface2);
    line-height: 1em;
    padding: 0.2em .5em 0.2em .5em;
    font-size: 0.8em;
    color: var(--surface2);
    @include mediaBig {
        margin-bottom: 2em;
      }
}

.card__date {
    @include cardDate;
}

.card__image {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 18px;
    
    @include mediaBig {
      width: 45%;
      max-height: none;
      min-height: 400px;
      margin-bottom: 0;
    }
}

:is(.photo) .card__image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin-bottom: 18px;
    
    @include mediaBig {
      width: 100%;
      max-height: 400px;
      min-height: 400px;
      margin-bottom: 0;
      margin: 0 auto;
    }
}

:is(.photo) .card__content {
    display: none;
}

.card__photodate {
    display: none;
}
:is(.photo, .text) .card__photodate {
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.card__caption {
    @include cardTitle;
    max-width: fit-content;
    margin: 0 auto;
/*    background-image: linear-gradient(90deg, #F5C2E7b3, #F5E0DCb3);
    &:hover {
        background-image: linear-gradient(90deg, #F5C2E7, #F5E0DC);
          }*/
    & a {
        color: var(--surface2);
        text-decoration: none;
      }
}

:is(.text) {
    text-align: center;
    & .card__date, .card__title, .card__image {
        display: none;
    }
}