footer {
    & .contact svg {
        height: 1em;
        width: 1em;
    }
    & .icon-heart svg {
        fill: var(--pink);
        stroke: none;
        height: 1em;
        width: 1em;
    }
    }

.foot-bar {
    padding: 1em 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}
}

.foot-1 {
    text-align: center;
& ul li {
    display: inline-block;
    margin-right: 0.7rem;
    text-transform: lowercase;
    & a {
        border: 0;
        color: var(--text);
        &:hover {
            color: var(--blue);
        }
    }
}
}

.foot-2 {
    font-size: 0.9em;
    text-align: center;
    line-height: 1em;
    & p:first-child {
        margin-top: 2em;
        padding: 0;
    }
    & ul {
        margin: 0;
    & li {
        display: inline-block;
        margin-left: 0.5em;
        & a {
            color: var(--text);
            border: 0;
        }
    }
}
}