.site__header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    padding: 0;
    margin: 0;
    min-height: 100px;
}

.header__back {
      min-width: 50px;
      padding: 1em 0 0 1em;
    & a {
      margin: 0;
      padding: 0;
      border: 0;
      color: var(--muted);
      &:hover {
        border: 0;
      }
}
}

.site__title {
      margin: 0;
      padding: 0 0 0 -20px;
      & a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-weight: 900;
        font-size: 0.9em;
        border-bottom: 0;
      &:hover {
        text-shadow: none;
        border-bottom: 0;
      }
      }
    }

@media only screen and (max-width: 600px) {
  .site__title a {
      margin: 0;
}
.header__back {
  padding: 0.5em 0 0 0;
}
.site__header #dark-light-toggle button {
  margin: 0.2em;
}
}

nav {
  display: none;
      text-align: left;
      justify-self: left;
      align-content: flex-end;
      align-self: center;
      padding-left: 2rem;
      padding-right: 2rem;
      & ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        & li {
          display: inline-block;
          margin-right: 0.5rem;
          & a {
            color: var(--text);
            text-decoration: none;
            border-bottom: 0;
            text-transform: lowercase;
        }
    }
}
}

#dark-light-toggle {
  align-self: flex-start;
  justify-self: flex-end;
  position: absolute;
  top: 1;
  right: 0;

  & button {
  background-color: transparent;
  margin: 0.2em 1em 0.2em 1em;
  border: 0;
  &:hover {
    cursor: pointer;
  }
}
}

.icon-moon, .icon-sun {
  color: var(--muted);
  margin: 0.2em;
}

.icon-moon:hover {
  color: var(--lavender);
}

.icon-sun:hover {
  color: var(--peach);
}

.awwbaby:hover {
  opacity: 0.7;
  cursor: pointer;
}

