.site__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;

    & .site__title,
    & .header__back {
      margin: 0;
      padding: 0;
      & a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-weight: 300;
        color: var(--subtext1);
        border-bottom: 0;
      &:hover {
        text-shadow: none;
      }
      }
    }
    & nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        & li a {
            color: var(--blue);
            text-decoration: none;
            &:hover,:active {
                border-bottom: 1px solid currentColor;
            }
        }
    }
}

.icon-moon, .icon-sun {
  color: var(--muted);
}

.icon-moon:hover {
  color: var(--lavender);
}

.icon-sun:hover {
  color: var(--peach);
}