.site__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    & .header__back a {
      margin: 0;
      padding: 0.5em;
      border: 0;
      color: var(--text);
    }
    & .site__title {
      margin: 0;
      padding: 0;
      & a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-weight: 900;
        font-size: 0.9em;
        text-align: center;
        border-bottom: 0;
      &:hover {
        text-shadow: none;
      }
      & svg {
        margin: 0.2em;
      }
      }
    }
    & nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        & li a {
            color: var(--blue);
            text-decoration: none;
            &:hover,&:active {
                border-bottom: 1px solid currentColor;
            }
        }
    }
}

.icon-moon, .icon-sun {
  color: var(--muted);
  margin: 0.2em;
}

.icon-moon:hover {
  color: var(--lavender);
}

.icon-sun:hover {
  color: var(--peach);
}

.awwbaby {
  max-width: 50%;
}

.stroke {
  color: var(--crust);
  letter-spacing: -0.06em;
  font-family: monospace;
  text-shadow: -1px -1px 0 var(--muted), 0 -1px 0 var(--muted),
  1px -1px 0 var(--muted), 1px 0 0 var(--muted),
  1px 1px 0 var(--muted), 0 1px 0 var(--muted),
  -1px 1px 0 var(--muted), -1px 0 0 var(--muted);
}
[data-theme="light"] .stroke:hover {
  background-color: rgba(var(--rgb-lavender), 0.3);
  color: var(--crust);
  text-shadow: -1px -1px 0 var(--text), 0 -1px 0 var(--text),
  1px -1px 0 var(--text), 1px 0 0 var(--text),
  1px 1px 0 var(--text), 0 1px 0 var(--text),
  -1px 1px 0 var(--text), -1px 0 0 var(--text);
}
[data-theme="dark"] .stroke:hover {
  color: var(--crust);
  text-shadow: -1px -1px 0 var(--text), 0 -1px 0 var(--text),
  1px -1px 0 var(--text), 1px 0 0 var(--text),
  1px 1px 0 var(--text), 0 1px 0 var(--text),
  -1px 1px 0 var(--text), -1px 0 0 var(--text);
}
  