body {
    line-height: 2em;
}

main {
  margin: 4em 0.5em 2em 0.5em;
  min-height: 60vh;
}

.post__body {
  max-width: 30em;
  margin: 0 auto;
}

.body-content,
.body-content-sm {
  max-width: 30em;
  margin: 0 auto;
}

#header {
  padding: 0.3rem;
  max-width: 50em;
  margin: 0 auto;
}

#footer {
  max-width: 35em;
  margin: 0 auto;
  border-top: 1px solid var(--surface0);
}

  img {
    margin: 1em 0 0 0;
    max-width: 100%;
  }

  [data-theme="dark"] img {
    opacity: 0.7;
  }

  img + :is(.caption) {
  font-size: 0.9em;
    margin-top: 0em;
    text-align: center;
    font-style: italic;
    color: var(--muted);
  }


  .page__header {
    max-width: 30em;
    margin: 0 auto;
    text-align: center;
  }

  .post__info,
  .page__info {
    padding: 0;
    font-size: 0.9em;
    color: var(--subtext1);
}