body {
    --uni-dark: rgb(28, 28, 41);
    --uni-light: rgb(231, 236, 255);
    --g1: linear-gradient(90deg, rgba(var(--rgb-yellow), 1) 0%, rgba(var(--rgb-lavender), 1) 25%, rgba(var(--rgb-teal), 1) 50%, rgba(var(--rgb-pink), 1) 75%), rgba(var(--rgb-peach), 1) 100%;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    /*transition: background 0.2s linear;*/
  }

  [data-theme="light"] {
    --crust: rgb(220, 224, 232);
    --mantle: rgb(204, 208, 218);
    --base: rgb(239, 241, 245);

    --text: rgb(76, 79, 105);
    --subtext1:rgb(92, 95, 119);
    --subtext0: rgb(108, 111, 133);
    --overlay2: rgb(124, 127, 147);
    --overlay1: rgb(140, 143, 161);
    --overlay0: rgb(156, 160, 176);
    --surface2: rgb(172, 176, 190);
    --surface1: rgb(188, 192, 204);
    --surface0: rgb(204, 208, 218);
    --muted: rgb(124, 127, 147);
    --rgb-yellow: 249, 226, 175;
    --rosewater: rgb(220, 138, 120);
    --flamingo: rgb(221, 120, 120);
    --pink: rgb(234, 118, 203);
    --mauve: rgb(136, 57, 239);
    --red: rgb(210, 15, 57);
    --maroon: rgb(230, 69, 83);
    --peach: rgb(254, 100, 11);
    --yellow: rgb(223, 142, 29);
    --green: rgb(64, 160, 43);
    --teal: rgb(23, 146, 153);
    --sky: rgb(4, 165, 229);
    --sapphire: rgb(32, 159, 181);
    --blue: rgb(30, 102, 245);
    --lavender: rgb(114, 135, 253);
    --rgb-rosewater: 220, 138, 120;
    --rgb-flamingo: 221, 120, 120;
    --rgb-pink: 234, 118, 203;
    --rgb-mauve: 136, 57, 239;
    --rgb-red: 210, 15, 57;
    --rgb-maroon: 230, 69, 83;
    --rgb-peach: 254, 100, 11;
    --rgb-yellow: 223, 142, 29;
    --rgb-green: 64, 160, 43;
    --rgb-teal: 23, 146, 153;
    --rgb-sky: 4, 165, 229;
    --rgb-sapphire: 32, 159, 181;
    --rgb-blue: 30, 102, 245;
    --rgb-lavender: 114, 135, 253;

    & .dark {
        display: none;
    }
  }
  
  [data-theme="dark"] {
    --rosewater: rgb(245, 224, 220);
    --rgb-rosewater: 245, 224, 220;
    --flamingo: rgb(242, 205, 205);
    --rgb-flamingo: 242, 205, 205;
    --pink: rgb(245, 194, 231);
    --rgb-pink: 245, 194, 231;
    --mauve: rgb(203, 166, 247);
    --rgb-mauve: 203, 166, 247;
    --maroon: rgb(235, 160, 172);
    --rgb-maroon: 235, 160, 172;
    --red: rgb(243, 139, 168);
    --rgb-red: 243, 139, 168;
    --yellow: rgb(249, 226, 175);
    --rgb-yellow: 249, 226, 175;
    --peach: rgb(250, 179, 135);
    --rgb-peach: 250, 179, 135;
    --sky: rgb(137, 220, 235);
    --rgb-sky: 137, 220, 235;
    --teal: rgb(148, 226, 213);
    --rgb-teal: 148, 226, 213;
    --green: rgb(166, 227, 161);
    --rgb-green: 166, 227, 161;
    --sapphire: rgb(116, 199, 236);
    --rgb-sapphire: 116, 199, 236;
    --blue: rgb(116, 199, 236);
    --rgb-blue: 137, 180, 250;
    --lavender: rgb(180, 190, 245);
    --rgb-lavender: 180, 190, 254;
    --text: rgb(205, 214, 244);
    --rgb-text: 205, 214, 244;
    --subtext1: rgb(166, 173, 200);
    --rgb-subtext1: 166, 173, 200;
    --overlay0: rgb(108, 112, 134);
    --rgb-overlay0: 108, 112, 134;
    --overlay1: rgb(127, 132, 156);
    --rgb-overlay1: 127, 132, 156;
    --surface2: rgb(88, 91, 112);
    --rgb-surface2: 88, 91, 112;
    --surface1: rgb(69, 71, 90);
    --rgb-surface1: 69, 71, 90;
    --surface0: rgb(49, 50, 68);
    --rgb-surface0: 49, 50, 68;
    --base: rgb(30, 30, 46);
    --rgb-base: 30, 30, 46;
    --mantle: rgb(24, 24, 37);
    --rgb-mantle: 24, 24, 37;
    --crust: rgb(17, 17, 27);
    --rgb-crust: 17, 17, 27;

    --muted: rgb(108, 112, 134);

    & .light {
        display: none;
    }
  }


  body {
    background-color: var(--crust);
    color: var(--text);
        & a {
            color: var(--text);
            text-decoration: none;
            font-weight: 800;
            padding-bottom: 0.1rem;
            border-bottom: 0.1em solid currentColor;
            &:hover {
              color: var(--blue);
              border-bottom: 0.2em solid currentColor;
            }
        }
  }


  .li-datetime a {
    color: var(--text);
    border: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
  }

 