@import url(https://fonts.bunny.net/css?family=allura:400);
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');
@import url(https://fonts.bunny.net/css?family=moirai-one:400);

:root {
  --primary-font: 'Inclusive Sans', sans-serif;
  --secondary-font: 'Moirai One', display;
}

* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    font-family: var(--primary-font);
    line-height: 1.8em;
    font-size: 1.2em;
}

body > * {
    --layout-spacing: max(8vh, 3rem);
    --max-width: 70ch;
    width: min(100%, var(--max-width));
    margin-left: auto;
    margin-right: auto;
    hyphens: auto;
  }

header,
main,
main > * + * {
  margin-top: var(--layout-spacing);
}

article * + * {
    margin-top: 1em;
  }



header {
    padding: 0em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.title {
    margin-top: 1em;
    text-align: center;
    transform: rotate(-7deg);
}

.title a {
    color: white;
    text-decoration: none;
    font-size: 2.5em;
    font-family: var(--secondary-font);
    padding: 0;
    margin: 0;
    line-height: fit-content;
    text-shadow: 2px 2px 3px var(--yellow),
                 3px 3px 5px var(--peach),
                 4px 4px 10px var(--rosewater);
    border-bottom: 0;
    hyphenate-character: "";
}


#description {
  display: none;
  margin: 1em 0em 1em 0em;
    padding: 1em;
    font-size: 0.8em;
    font-family: 'Inclusive Sans', sans-serif;
    color: var(--surface2);
    width: 100%;
    border-radius: 2em;
}

.nav {
    position: absolute;
    right: 0;
    top: 0;
    list-style-type: none;
    text-align: right;
    margin: 0;
    & ul {
        text-align: right;
        & li + li {
          margin-left: 0.5rem;
        }
    }
}

nav [aria-current="page"] {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid var(--peach);
  }

.content {
    max-width: 40em;
    margin: auto;
    padding: 2em 0.5em 2em 0.5em;
}

.intro {
  text-align: center;
}

hr {
    border:0;
    height: 1px;
    background-color: var(--surface2);
    margin: 2em 0 2em 0;
}


.pagination {
    text-align: center;
}

body > footer div {
    border-top: 1px solid var(--surface0);
    padding: 2em 0 1em 0;
    font-size: 0.9em;
    color: var(--surface0);
  }

#footer-cen {
    margin: auto;
    & p {
        text-align: center;
    }
}






/* Typography */
:is(h1, h2, h3) {
    line-height: 1.2;
  }
  
  :is(h1, h2) {
    max-width: 40ch;
  }
  
  :is(h2, h3):not(:first-child) {
    margin-top: 2em;
  }
  

  /*
┌────────────────────────────────────────┐
IMAGES                                  [4]  
└────────────────────────────────────────┘
*/

article img {
    display: block;
    width: 100%;
    min-height: 20rem;
    max-height: 40vh;
    object-fit: cover;
    margin: 2rem auto;
  }
  
  @supports (aspect-ratio: 1) {
    article img {
      max-height: unset;
      aspect-ratio: 3/2;
    }
  }


  blockquote {
    margin: 2rem 0;
    padding: 0.5em 1rem;
    border-left: 3px solid rgba(0, 0, 0, 0.35);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0 0.25rem 0.25rem 0;
  }


  .page-date {
    font-size: 0.9em;
    float: right;
    margin-left: 2em;
  }