@import url(https://fonts.bunny.net/css?family=allura:400);
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');


:root {
  --primary-font: 'Inclusive Sans', sans-serif;
  --secondary-font: 'Allura', handwriting;
}

* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    font-family: var(--primary-font);
    line-height: 1.8em;
    font-size: 1.2em;
}

body > * {
    --layout-spacing: max(8vh, 3rem);
    --max-width: 70ch;
    width: min(100%, var(--max-width));
    margin-left: auto;
    margin-right: auto;
    hyphens: auto;
  }

header,
main,
main > * + * {
  margin-top: var(--layout-spacing);
}

article * + * {
    margin-top: 1em;
  }


.nav a, footer a {
    text-transform: lowercase;
    text-underline-offset: 0.3em;
    text-decoration-color: rgba(var(--alt-a), 0.5);
    color: var(--alt-accent);
    &:hover {
        color: var(--sapphire);
        text-decoration-color: var(--sapphire);
        text-decoration-thickness: 2px;
        transition: all 100ms ease-in-out;
    }
}

header {
    padding: 0em 1em 1em 1em;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    max-width: 100%;
    gap: 2em;
}

.title {
    margin-top: 1em;
    transform: rotate(-4deg);
}

.title a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: var(--secondary-font);
    padding: 0;
    line-height: fit-content;
    text-shadow: 2px 2px 3px var(--blue),
                 3px 3px 5px var(--sapphire),
                 4px 4px 10px var(--sky);
    border-bottom: 0;
}


#description {
    display: none;
    padding: 1em;
    font-size: 0.9em;
    font-family: 'Inclusive Sans', sans-serif;
    color: var(--surface2);
}

.nav {
    position: absolute;
    right: 0;
    top: 0;
    list-style-type: none;
    text-align: right;
    margin: 0;
    & ul {
        text-align: right;
    }
}

nav [aria-current="page"] {
    font-weight: bold;
    border-bottom: 2px solid currentColor;
  }

.content {
    max-width: 40em;
    margin: auto;
    padding: 2em;
}

hr {
    border:0;
    height: 1px;
    background-color: var(--surface2);
    margin: 2em;
}



.pagination {
    text-align: center;
}

body > footer div {
    border-top: 1px solid var(--blue);
    padding-top: 0.5em;
    font-size: 0.9em;
    color: var(--surface0);
  }

#footer-cen {
    margin: auto;
    & p {
        text-align: center;
    }
}






/* Typography */
:is(h1, h2, h3) {
    line-height: 1.2;
  }
  
  :is(h1, h2) {
    max-width: 40ch;
  }
  
  :is(h2, h3):not(:first-child) {
    margin-top: 2em;
  }
  

  /*
┌────────────────────────────────────────┐
IMAGES                                  [4]  
└────────────────────────────────────────┘
*/

article img {
    display: block;
    width: 100%;
    min-height: 20rem;
    max-height: 40vh;
    object-fit: cover;
    margin: 2rem auto;
  }
  
  @supports (aspect-ratio: 1) {
    article img {
      max-height: unset;
      aspect-ratio: 3/2;
    }
  }


  blockquote {
    margin: 2rem 0;
    padding: 0.5em 1rem;
    border-left: 3px solid rgba(0, 0, 0, 0.35);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0 0.25rem 0.25rem 0;
  }


  .page-date {
    font-size: 0.9em;
    float: right;
    margin-left: 2em;
  }