<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <title>aww.baby</title>
  </head>
  <body>

    {% include "partials/header.njk" %}

    <!-- page content -->
    <main>
      <div class="content__wrapper">

    	    {{ content | safe }}

      </div>
    </main>

    <footer>
      <div id="footer">
    {% include "partials/footer.njk" %}
      </div>
    </footer>


  </body>
</html>

{% getBundle "fontawesome" %}