<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="to Beginner's Mind and back, one awkward baby step at a time">
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <title>aww baby</title>
    </head>
    <html data theme="light">

    {% include "components/header.njk" %}

    <body>
      <main>
        {{ content | safe }}
    </main>
  </body>

      {% include "components/footer.njk" %}

</html>