---
layout: home.njk
---

<div class="page__header">
<h1>{{ title }}</h1>
</div>

<div class="post__body">
<article>
    {{ content | safe }}
</article>
<hr class="spacer">
<div class="page__info">
<span>updated
    <strong>{{ page.modified | formatDate('MMM D, YYYY') }}</strong>
</span>
</div>
</div>

