---
layout: base.njk
---

<div class="post__header">
    <div class="post__date">

        <span class="post__published">
            <a href="{{ post.url }}">{{ page.date | formatDate('MMM D')  }}</a>
        </span>
        <span class="post__edited">
        {% if edited %}
        (edited {{ page.edited | formatDate('MMM D, YYYY')  }})</span></i>
        </span>
        {% endif %}
    </div>
<h2 class="post__title">{{ title }}</h2>
</div>

<div class="post__body">
<article>
    {{ content | safe }}
</article>


<hr class="spacer">

<div class="post__info">
{% if edited %}
<div class="edit__date">
    <span class="post__edited">Edit notes:
        <br>
        <strong>{{ page.edited | formatDate('MMM D, YYYY')  }}</strong></span>
    {% if editReason %}
        <span class="edit-note">
            <i>- {{ editReason }}</i>
            </span>
    {% endif %}
</div>
    {% endif %}
</div>
</div>