---
layout: base.njk
---

<article>
  <time class="post__date text-uppercase text-small">{{ date | blogDate }}</time>
  <h2>{{title}}</h2>

  <div class="post__body">
  {{content|safe}}
</div>
</article>

<hr class="hr__postfoot">

<div class="post__footer">

  <div class="post__published">
    <span class="icon">
    <i>
      {% icon "tabler-f:calendar-event", class="icon-sm" %}
      </i>
    </span>
    <time class="published__date subtext">{{ date | formatDate('MMMM D, YYYY') }}</time> at <time class="published__time subtext">{{ date | formatDate('h:mm a') }}</time>
  </div>

    <div class="post__tags">
      {%
          if tags.length >
          1
        %}
          <!-- tags -->
          <i>
            {% icon "tabler-f:tag", class="icon-sm" %}
         </i>
             {% for tag in tags %}{% if tag != "blog" %}
            <span><a class="subtext" href="/tags/{{ tag | slugify }}/"> {{ tag }} </a></span>
          {% endif %}{% endfor %}
        {% endif %}
    </div>
  
  </div>

</div>