---
title: Colophon
layout: page.njk
tags: pages
---

<h4>Resources</h4>
<ul>
<li><a href="https://11ty.rocks/">11ty Rocks!</a></li>
<li><a href="https://github.com/5t3ph/smol-11ty-starter/">11ty Smol Starter</a></li>
</ul>

<hr>
<h4>Plugins</h4>
<ul>
    <li><a href="https://www.npmjs.com/package/eleventy-plugin-embed-spotify">Eleventy Spotify Plugin</a></li>
</ul>