---
layout: base.njk
title: Posts
permalink: "/{{ title | slugify }}/"
eleventyNavigation:
  key: Posts
  order: 2
---

<ul class="collection__ul">
    {%- for post in collections.blog | reverse -%}


    <li>
        <div class="collection__item">
      <div class="collection__head">
          <a class="permalink" href="{{ post.url }}" title="Permalink">{{ post.date | blogDate }}</a>
      </div>
                 <div class="post__content">
                  <p>{{ post.content | md | safe }}</p>
              </div> 
                </div>
    </li>

  {% endfor %}
</ul>
