@charset "UTF-8";
:root {
  --rosewater: rgb(245, 224, 220);
  --ros: 245, 224, 220;
  --flamingo: rgb(242, 205, 205);
  --flam: 242, 205, 205;
  --pink: rgb(245, 194, 231);
  --pnk: 245, 194, 231;
  --mauve: rgb(203, 166, 247);
  --mve: 203, 166, 247;
  --maroon: rgb(235, 160, 172);
  --mrn: 235, 160, 172;
  --red: rgb(243, 139, 168);
  --rd: 243, 139, 168;
  --yellow: rgb(249, 226, 175);
  --yel: 249, 226, 175;
  --peach: rgb(250, 179, 135);
  --pch: 250, 179, 135;
  --sky: rgb(137, 220, 235);
  --ski: 137, 220, 235;
  --teal: rgb(148, 226, 213);
  --tea: 148, 226, 213;
  --green: rgb(166, 227, 161);
  --grn: 166, 227, 161;
  --sapphire: rgb(116, 199, 236);
  --sap: 116, 199, 236;
  --blue: rgb(137, 180, 250);
  --blu: 137, 180, 250;
  --lavender: rgb(180, 190, 245);
  --lav: 180, 190, 254;
  --txt: rgb(231, 236, 255);
  --tx1: 231, 236, 255;
  --subtext: rgb(166, 173, 200);
  --tx2: 166, 173, 200;
  --overlay0: rgb(108, 112, 134);
  --ovr0: 108, 112, 134;
  --overlay1: rgb(127, 132, 156);
  --ovr1: 127, 132, 156;
  --surface2: rgb(88, 91, 112);
  --sur2: 88, 91, 112;
  --surface1: rgb(69, 71, 90);
  --sur1: 69, 71, 90;
  --surface0: rgb(49, 50, 68);
  --sur0: 49, 50, 68;
  --base: rgb(30, 30, 46);
  --bb: 30, 30, 46;
  --mantle: rgb(24, 24, 37);
  --mtl: 24, 24, 37;
  --crust: rgb(17, 17, 27);
  --crst: 17, 17, 27;
  --alt-accent: rgb(115, 128, 202);
  --alt-a: 115, 128, 202;
  --highlight: rgba(115, 128, 202, 0.822);
  --text: rgb(83, 84, 96);
  --link: rgb(49, 50, 68);
}

body {
  color: var(--text);
  /*    background-image: linear-gradient(180deg, rgb(162, 125, 201), rgb(255, 255, 255));
      background-size: 100% 100%;
      background-image: no-repeat;
  */
}

nav a, footer a {
  text-transform: lowercase;
  text-underline-offset: 0.3em;
  text-decoration-color: rgba(var(--surface0), 0.5);
  color: var(--surface0);
}
nav a:hover, footer a:hover {
  color: var(--peach);
  text-decoration-color: var(--peach);
  text-decoration-thickness: 2px;
  transition: all 100ms ease-in-out;
}

.card a {
  color: var(--link);
}

article a {
  color: var(--link);
  text-transform: lowercase;
  text-underline-offset: 0.3em;
  text-decoration-color: rgba(var(--surface0), 0.5);
  box-decoration-break: clone;
  background-repeat: no-repeat;
}
article a:hover {
  background: var(--yellow);
  transition: all 100ms ease-in-out;
}

img {
  opacity: 0.9;
  border-radius: 1em;
}
img:hover {
  opacity: 1;
}

.card {
  background-color: transparent;
}

/*
┌────────────────────────────────────────┐
GENERAL USE                             [0]
└────────────────────────────────────────┘
*/
/* responsive
/* ──────────────────────────────────── */
/*
┌───────────────────────────────────────────────────┐
NAVIGATION                                         [1]
└───────────────────────────────────────────────────┘
*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-left: -2px;
  margin-right: 1em;
}
nav ul li {
  font-size: 0.8em;
}
@media (min-width: 590px) {
  nav ul {
    font-size: 1.2em;
  }
}

/*
┌───────────────────────────────────────────────────┐
POST LIST CARDS                                    [1]
└───────────────────────────────────────────────────┘
*/
/* mixins
/* ──────────────────────────────────── */
/*
POST LIST CARDS                       [ CARD ]
└────────────────────────────────────────┘
*/
.card {
  max-width: 100%;
  padding: 0em;
  margin: 0.5em 0em 1em 0em;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
}
@media (min-width: 590px) {
  .card {
    flex-direction: row;
    align-items: stretch;
    gap: 1em;
    padding: 0;
  }
}

.card-switch {
  max-width: 100%;
  padding: 0em;
  margin: 0.5em 0em 1em 0em;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 590px) {
  .card-switch {
    flex-direction: row;
    align-items: stretch;
    gap: 1em;
    padding: 0;
  }
}

/* card components
──────────────────────────────────── */
@media (min-width: 590px) {
  :is(.card) .card__imageContainer {
    max-width: 50%;
    min-width: 50%;
    margin-bottom: 0;
  }
}

.card__image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 0;
}
@media (min-width: 590px) {
  .card__image {
    max-height: none;
    min-height: 400px;
    margin-bottom: 0;
  }
}

@media (min-width: 590px) {
  .card__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.card__content a {
  color: var(--link);
  text-decoration: none;
}

.card__title {
  font-size: 2em;
  color: var(--surface0);
  margin-left: -4px;
  max-width: fit-content;
}
@media (min-width: 590px) {
  .card__title {
    line-height: 1em;
    font-size: 2.5em;
    margin-bottom: 2em;
  }
}
@media (min-width: 590px) {
  .card__title {
    margin-bottom: 2em;
  }
}

.card__date {
  display: flex;
  text-transform: uppercase;
  margin-bottom: 4em;
  text-align: right;
  float: right;
  margin: 0 0em 1em 1em;
  line-height: 1em;
  font-size: 0.8em;
  color: var(--surface2);
  margin: 0 0 0 1em;
}
@media (min-width: 590px) {
  .card__date {
    float: none;
    margin: 0 0 2em 0;
    text-align: right;
  }
}

.card__caption {
  display: block;
  margin: 1em 0 0 0;
}

/*
POST LIST CARDS                       [ TEXT ]
└────────────────────────────────────────┘
*/
.text {
  max-width: 100%;
  padding: 0em;
  margin: 0.5em 0em 1em 0em;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
}

:is(.text) .card__content {
  width: 100%;
}

:is(.text) {
  text-align: center;
}
:is(.text) .card__date, :is(.text) .card__title, :is(.text) .card__image {
  display: none;
}

/*
POST LIST CARDS                      [ PHOTO ]
└────────────────────────────────────────┘
*/
.photo {
  max-width: 100%;
  padding: 0em;
  margin: 0.5em 0em 1em 0em;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
}

:is(.photo) .card__image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 18px;
}
@media (min-width: 590px) {
  :is(.photo) .card__image {
    width: 100%;
    max-height: 400px;
    min-height: 400px;
    margin-bottom: 0;
    margin: 0 auto;
  }
}

/* hide card content */
:is(.photo) .card__content {
  display: none;
}

/* hide photo date */
.card__photodate {
  display: none;
}

/* ──────────────────────────────────── */
:is(.photo, .text) .card__photodate {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 1em;
}

/* ──────────────────────────────────── 

$LIGHTING_FLOOR: 1;
$LIGHTING_CEIL: 2;
$LIGHTING_FLAT: 3;

@mixin text3d(
  $primary, 
  $depth: 5, 
  $shadowsteps: 5, 
  $shadowincrementer: 3px, 
  $shadowopacity: .5, 
  $primaryshadowcolour: #000, 
  $lighting: $LIGHTING_CEIL) {
  $predefinedShadows: (
    0 0 5px rgba($primaryshadowcolour, .05), 
    0 -1px 3px rgba($primaryshadowcolour, .2), 
    0 3px 5px rgba($primaryshadowcolour, .2));
  $value: ();
  @for $i from 1 through $depth {
    $num: $i + px;
    $hueadjust: $i;
    @if($lighting == $LIGHTING_FLOOR) {
      $hueadjust: ($i * 2 - $depth - 5) * 1%;
    } @elseif($lighting == $LIGHTING_CEIL) {
      $hueadjust: -($i*2 + $depth - 10) * 1%;
    } @elseif($lighting == $LIGHTING_FLAT) {
      $hueadjust: -$depth * 1%;
    }
    $colour: adjust-color($primary, $lightness: $hueadjust);
    $theShadow: 0 $num 0 $colour;
    $value: append($value, $theShadow, comma);
  }

  @for $i from 1 through $shadowsteps {
    @if($i >= length($predefinedShadows)) {
      $dist: $i * $shadowincrementer;
      $value: append($value, 0 $dist $dist rgba($primaryshadowcolour, $shadowopacity));
    } @else {
      $value: append($value, nth($predefinedShadows, $i));
    }
  }

  text-shadow: $value;
}

$primarycolour: rgba(255, 240, 172, 0.2);

.title-background {
    height: 4em;
    max-width: 70em;
    margin: 0 auto;
    border-radius: 1em;
}

.a-title {
  color: rgb(244, 235, 255)  ;
  font-family: var(--secondary-font);
  font-size: 60px;
  line-height:1em;
  margin: 0;
  text-align: center;

  @include text3d(
    adjust-color($primarycolour, $lightness: -8%), 
    $depth: 8, 
    $primaryshadowcolour: adjust-color($primarycolour, $lightness: -10%, $saturation: +20%),
    $shadowopacity: .3);
}

*/

/*# sourceMappingURL=components.css.map */
