---
layout: base.njk
title: 'aww baby'
eleventyNavigation:
  key: posts
  order: 1
---

<ul class="collection__ul">
    {%- for post in collections.blog | reverse -%}

  <div class="collection__item">
    <li>
      <div class="collection__head">
          <a class="collection__perma" href="{{ post.url }}" title="Permalink">{{ post.date | blogDate }}</a>
      </div>
                 <div class="post__content">
                  <p>{{ post.content | md | safe }}</p>
              </div> 
    </li>
  </div>
  {% endfor %}
</ul>

