@import url(https://fonts.bunny.net/css?family=fira-sans:400);
@import url(https://fonts.bunny.net/css?family=moirai-one:400);

:root {
  --primary-font: 'Fira Sans', sans-serif;
  --secondary-font: 'Moirai One', display;
}

.hide {
  display: none;
}