@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,400i|beth-ellen:400);
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

:root {
    --rosewater: rgb(245, 224, 220);
    --ros: 245, 224, 220;
    --flamingo: rgb(242, 205, 205);
    --flam: 242, 205, 205;
    --pink: rgb(245, 194, 231);
    --pnk: 245, 194, 231;
    --mauve: rgb(203, 166, 247);
    --mve: 203, 166, 247;
    --maroon: rgb(235, 160, 172);
    --mrn: 235, 160, 172;
    --red: rgb(243, 139, 168);
    --rd: 243, 139, 168;
    --yellow: rgb(249, 226, 175);
    --yel: 249, 226, 175;
    --peach: rgb(250, 179, 135);
    --pch: 250, 179, 135;
    --sky: rgb(137, 220, 235);
    --ski: 137, 220, 235;
    --teal: rgb(148, 226, 213);
    --tea: 148, 226, 213;
    --green: rgb(166, 227, 161);
    --grn: 166, 227, 161;
    --sapphire: rgb(116, 199, 236);
    --sap: 116, 199, 236;
    --blue: rgb(137, 180, 250);
    --blu: 137, 180, 250;
    --lavender: rgb(180, 190, 245);
    --lav: 180, 190, 254;
    --text: rgb(231, 236, 255);
    --tx1: 231, 236, 255;
    --subtext: rgb(166, 173, 200);
    --tx2: 166, 173, 200;
    --overlay0: rgb(108, 112, 134);
    --ovr0: 108, 112, 134;
    --overlay1: rgb(127, 132, 156);
    --ovr1: 127, 132, 156;
    --surface2: rgb(88, 91, 112);
    --sur2: 88, 91, 112;
    --surface1: rgb(69, 71, 90);
    --sur1: 69, 71, 90;
    --surface0: rgb(49, 50, 68);
    --sur0: 49, 50, 68;
    --base: rgb(30, 30, 46);
    --bb: 30, 30, 46;
    --mantle: rgb(24, 24, 37);
    --mtl: 24, 24, 37;
    --crust: rgb(17, 17, 27);
    --crst: 17, 17, 27;
  
    --alt-accent: rgb(115, 128, 202);
    --alt-a: 115, 128, 202;
    --highlight: rgba(115, 128, 202, 0.822);
  }


* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    color: var(--surface1);
    background-color: var(--text);
    font-family: 'Inclusive Sans', sans-serif;
    line-height: 1.8em;
    font-size: 1.2em;
}

body > * {
    --layout-spacing: max(8vh, 3rem);
    --max-width: 70ch;
    width: min(100%, var(--max-width));
    margin-left: auto;
    margin-right: auto;
  }

header,
main,
main > * + * {
  margin-top: var(--layout-spacing);
}

article * + * {
    margin-top: 1em;
  }

a {
    text-transform: lowercase;
    text-underline-offset: 0.3em;
    text-decoration-color: rgba(var(--blu), 0.5);
    color: var(--blue);
    &:hover {
        color: var(--sapphire);
        text-decoration-color: var(--sapphire);
        text-decoration-thickness: 2px;
        transition: all 100ms ease-in-out;
    }
}

header {
    padding: 0em 1em 1em 1em;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    max-width: 100%;
    gap: 2em;
}

.title {
    margin-top: 1em;
    transform: rotate(-4deg);
}

.title a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Beth Ellen', handwriting;
    padding: 0;
    line-height: fit-content;
    text-shadow: 2px 2px 3px var(--blue),
                 3px 3px 5px var(--sapphire),
                 4px 4px 10px var(--sky);
    border-bottom: 0;
}

#description {
    display: none;
    padding: 1em;
    font-size: 0.9em;
    font-family: 'Inclusive Sans', sans-serif;
    color: var(--surface2);
}

.nav {
    position: absolute;
    right: 0;
    top: 0;
    list-style-type: none;
    text-align: right;
    margin: 0;
    & ul {
        text-align: right;
    }
    & li {
        display: inline-block;
        padding: 1em;
}
}

nav [aria-current="page"] {
    font-weight: bold;
    border-bottom: 2px solid currentColor;
  }

.content {
    max-width: 40em;
    margin: auto;
    padding: 2em;
}

hr {
    border: 0;
    margin: 2em;
}



.pagination {
    text-align: center;
}

body > footer div {
    border-top: 1px solid var(--blue);
    padding-top: 0.5em;
    font-size: 0.9em;
    color: var(--surface0);
  }

#footer-cen {
    margin: auto;
    & p {
        text-align: center;
    }
}






/* Typography */
:is(h1, h2, h3) {
    line-height: 1.2;
  }
  
  :is(h1, h2) {
    max-width: 40ch;
  }
  
  :is(h2, h3):not(:first-child) {
    margin-top: 2em;
  }
  

  /*
┌────────────────────────────────────────┐
IMAGES                                  [4]  
└────────────────────────────────────────┘
*/

article img {
    display: block;
    width: 100%;
    min-height: 20rem;
    max-height: 40vh;
    object-fit: cover;
    margin: 2rem auto;
  }
  
  @supports (aspect-ratio: 1) {
    article img {
      max-height: unset;
      aspect-ratio: 3/2;
    }
  }


.post-preview {
    text-decoration: none;
    display: flexbox;
    background-color: transparent;
    padding: 1em;
    border: 0;
    min-width: 100%;
    max-width: 40em;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid var(--overlay0);
        cursor: pointer;
    }
}

.post-preview a {
    text-decoration: none;
}

.post-text {
    margin-bottom: 2em;
    text-align: left;
    color: var(--surface0);
    text-decoration: none;
    font-family: "Inclusive Sans";
    & h1 {
        font-size: 2em;
    }
}

.post-date {
    float: right;
    border-bottom: 1px solid currentColor;
}

.post-thumb {
    padding: 0;
    margin: 0;
}

.post-thumb img {
    width: 100%;
    min-height: 20rem;
    max-height: 40vh;
    object-fit: cover;
    margin: auto;
  }


  blockquote {
    margin: 2rem 0;
    padding: 0.5em 1rem;
    border-left: 3px solid rgba(0, 0, 0, 0.35);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0 0.25rem 0.25rem 0;
  }