.foot {
    background-color: var(--subtext);
    padding: 0 0 2rem 0;
}

.to-top-wrapper {
    padding: 2rem 0 2rem 0;
    align-self: center;
        a {
            font-size: var(--text-sm);
            color: var(--text);
        }
}