@mixin ul-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

// CONTAINER

#footer {
    --padding: 0.5rem;
}

// FOOT SECTIONS

#foot {
    max-width: 47em;
    margin: 0 auto;
    --min: 10ch;
    --gap: 0.5rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    padding: 0.5rem 0.5rem 0 0.5rem;
}

#foot > * {
    flex: 1 1 var(--min);
    padding: 0.2rem;
                a {
                    color: var(--text);
                }
}

#foot-left {
    text-align: left;
    //background-color: var(--mauve);
}

#foot-center {
    text-align: center;
    //background-color: var(--sky);
}

#foot-right {
    text-align: right;
    //background-color: var(--green);
}

        //---- to top

        .to-top-wrapper {
            display: inline-flex;
            gap: 0;
            align-items: center;
        }


// BOTTOM LINE

#bottom-line {
    background-color: var(--dark1);
    color: var(--background);

    a {
        color: var(--base);
        text-decoration-color: var(--base);
            &:hover {
                color: var(--background);
                text-decoration-color: var(--background);
            }
    }
}

.bottom-line {
    max-width: 45em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: var(--padding);
}

.bottom-line > * {
    font-size: var(--text-sm);
    display: inline-flex;
    align-items: center;
    gap: 0.1rem;
}

#cc {
    align-self: flex-end;
}

