@mixin ul-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul {
    @include ul-unstyled;
    display: inline-flex;
    gap: 0.9rem;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: clamp(320px, 100%, 710px);
  margin: auto;
  padding: 0.5rem;
}

.header__nav {
    line-height: 1.1rem;
}

.current a {
    color: var(--text);
    font-weight: 450;
    text-decoration: none;
}

#logo {
    padding: 0;
    margin: 0;
    fill: var(--overlay2);
        &:hover {
        fill: var(--link);
    }
}
