
// SECTIONS

header, footer {
  margin: 0 auto;
  text-align: center;
}

header {
  padding: 0.5rem 0.3rem;
}

main {
  min-height: 95vh;
  margin: auto;
  max-width: clamp(320px, 90%, 1000px);
  padding: 1.5rem clamp(0.5rem, 5%, 1rem);
}

// WRAPPERS

.content__wrapper {
  max-width: 40em;
  margin: 0 auto;
}

// FLEX

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}