// POST LIST

.collection__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.collection__item {
  margin: 1em 0;
  & li {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
}

.collection__item:not(:last-of-type) {
  padding: 0 0 2em 0;
  margin: 0 0 2em 0;
  border-bottom: 1px dotted var(--subtext2);
}

.collection__item:last-of-type {
  margin: 0 0 2em 0;
}

article .post__date {
  color: var(--subtext2);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9em;
}

.collection__perma {
  color: var(--subtext2);
  text-transform: uppercase;
  text-decoration-style: dotted;
  text-underline-offset: 0.11rem;
  text-decoration-thickness: 0.09rem;
  text-decoration-color: var(--overlay0);
  font-size: 0.9em;
  &:hover {
    color: var(--text);
  }
}

.collection__title h1 {
  padding: 0;
  margin: 0;
  font-size: 1.8em;
}

.post__content {
  border: 1px solid transparent;
}


// POST PAGE

article {
  padding: 1rem 0 0 0;
}

.post__body {
  margin: 1rem 0 0 0;
}

.post__footer {
  --min: 10ch;
  --gap: 0.2rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);

  margin: 0 0 2rem 0;
  font-size: var(--text-sm);

      div {
        padding: 0rem;
        margin: 0 0 0.5rem 0;
      }
      .post__detail {
        font-weight: 700;
      }
}

.post__published {
  display: flex;
  gap: 0.2rem;
  line-height: 1em;
}

.post__tags {
    display: flex;
    line-height: 1em;
    & span:not(.icon) {
      padding: 0 0.2rem 0 0.2rem;
    }
    & span:not(:last-of-type, .icon, .post__detail) {
      &::after {
        content: ',';
        margin-left: -0.1rem;
      }
    }
}