// POST LIST

.collection__ul {
  padding: 0;
  margin: 2em 0 0 0;
  list-style: none;
    > li {
    display: flex;
    flex-direction: column;
  }
}

.collection__ul li:not(:last-of-type) > div {
  padding: 0 0 1.5em 0;
  margin: 0 0 2em 0;
}

.collection__ul li:last-of-type > div {
  margin: 0 0 2em 0;
}

.collection__item {
//  background: lightblue;
}


.collection__title h1 {
  padding: 0;
  margin: 0;
  font-size: 1.8em;
}

.post__content {
  border: 1px solid transparent;
}


// POST PAGE

article {
  padding: 1em 0 0 0;
//  border: 1px solid aqua;
}

.post__body {
  margin: 1rem 0 0 0;
//  border: 1px solid red;
}

.post__footer {
  --min: 10ch;
  --gap: 0.3rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);

  margin: 0 0 2rem 0;
  font-size: var(--text-sm);

      div {
        padding: 0rem;
        margin: 0 0 0.5rem 0;
      }
}

.post__published {
  display: inline-flex;
  line-height: 1em;
  gap: 0.2rem;
}


.post__tags {
    display: inline-flex;
    line-height: 1em;
    gap: 0.2rem;
    & span:not(.icon) {
      margin: 0 0.1rem;
    }
    & span:not(:last-of-type, .icon, .post__detail) {
      &::after {
        text-decoration: none;
        color: var(--subtext);
      }
    }
            a:hover {
            color: var(--text);
            text-decoration-thickness: 0.1rem;
            text-decoration-color: var(--text);
        }
}