:root {
    /* via https://catppuccin.com/palette/ */
    accent-color:       #cba6f7;
    --background:       #cdd6f4;
    --text:             #11111b;
    --subtext:          #313244;

    --subtext1: red;
    --subtext2: orange;
    --overlay2: blue;

    --dark1:            #1e1e2e;
    --dark2:            #45475a;


    --overlay1:         #585b70;
    --overlay0:         #6c7086;
    --surface2:         #7d829b;
    --surface1:         #9399b2;
    --surface0:         #a6adc8;
    --base:             #bac2de;
    --link: #1e66f5;
    --blue:      #89b4fa;
    --lavender:  #b4befe;
    --sapphire:  #74c7ec;
    --sky:       #89dceb;
    --teal:      #94e2d5;
    --green:     #a6e3a1;
    --yellow:    #f9e2af;
    --peach:     #fab387;
    --maroon:    #eba0ac;
    --red:       #f38ba8;
    --mauve:     #cba6f7;
    --pink:      #f5c2e7;
    --flamingo:  #f2cdcd;
    --rosewater: #f5e0dc;
    --text-sm: 0.9rem;
    --text-reg: 1rem;
    --text-lg: 1.4rem;
}


.subtext {
    color: var(--subtext);
}

.dark {
    color: var(--dark1);
}

code {
    background-image: url("/assets/noise.svg");
    background-color: rgba(146, 146, 209, 0.3);
    border: 1px solid rgb(30, 30, 46, 0.2);
    border-radius: 0.2rem;
    background-repeat: repeat;
    background-blend-mode: screen;
    background-size: 500%;
    padding: 0.1rem 0.1rem;
    margin: 0 0.09rem;
    color: var(--background);
}

code,
kbd,
samp {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace; 
  font-size: 0.9em;
  word-spacing: -0.1em;
  font-weight: 700;
}

body {
    color: var(--text);
    background-color: var(--background);
}


// Links without a class (except navigation current)

a:not([class], .current a) {
    color: var(--subtext);
    text-underline-offset: 0.11rem;
    text-decoration-thickness: 0.09rem;
    text-decoration-color: var(--subtext);
      position: relative;
        &:hover {
            text-decoration-thickness: 0.1rem;
                text-decoration-color: var(--text);
        }
}

// Collection permalinks

.permalink {
    color: var(--subtext);
    text-transform: uppercase;
    text-decoration-style: dotted;
    text-underline-offset: 0.11rem;
    text-decoration-thickness: 0.09rem;
    text-decoration-color: var(--overlay0);
    font-size: 0.9em;
    &:hover {
        color: var(--text);
    }
}

.text-small {
    font-size: 0.9em;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

// HOME/COLLECTIONS

.collection__ul li:not(:last-of-type) > div {
    border-bottom: 1px dotted var(--dark2);
}



// POST PAGE
