<div id="foot">

        <div id="foot-left">
        </div>

        <div id="foot-center">

        </div>

        <div id="foot-right">

        </div>
</div>

<div id="bottom-line">
        <div class="bottom-line text-small">

<div class="bottom-left flex flex-column">    
        <div>
        {% include "partials/logo_horizontal.njk" %}
        </div>

        <div id="cc">
                <span>made with <i>{% icon "tabler-f:heart", class="icon-sm" %}</i> by <a href="https://laurel.omg.lol/">laurel</a></span> | 
        <i>{% icon "tabler-o:badge-cc", class="icon-m" %}</i>
                <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
</div>

</div>

        <div class="bottom-right">
                <div class="to-top-wrapper">
                        <a href="#top" class="to-top" aria-label="Scroll to Top">to top</a>
                <i>{% icon "tabler-o:arrow-up", class="icon-m" %}</i>
                </div>
        </div>
</div>
</div>