<div id="foot">

        <div id="foot-left">

        </div>

        <div id="foot-center">

        </div>

        <div id="foot-right">

        </div>
</div>

<div id="bottom-line">
        <div class="bottom-line">
        <div class="to-top-wrapper">
                <i>{% icon "tabler-o:arrow-up", class="icon-m" %}</i>
                <a href="#top" class="to-top" aria-label="Scroll to Top">Top</a>
        </div>

        <div id="cc">               
                <i>{% icon "tabler-o:badge-cc" %}</i>
                <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
        </div>
</div>
</div>