<header id="top">

    <div class="header__wrapper flex flex-row justify-content-between">

    <!-- logo -->
        <div id="header__logo">

    {% include "partials/asterisk.njk" %}

        </div>


    <!-- navigation -->
     <div id="header__section">
        <div class="header__nav">
          <nav aria-label="Main Navigation">
            <div class="nav__links">
              {% set navPages = collections.all | eleventyNavigation %}
                <ul class="inline-flex text-lowercase">
                  {%- for entry in navPages %}
                    <li{% if entry.url == page.url %} class="current"{% endif %}>
                    {{ entry.data.icon }}<a href="{{ entry.url }}">{{ entry.title }}</a>
                    </li>
                  {%- endfor %}
                </ul>
            </div> 
          </nav>
          <div class="header__box">

          </div>
        </div>
</div>

  </div>

</header>