<ul class="collection__ul">

  {% for post in postslist | reverse %}
    <li>
      <div class="collection__item">
        <div class="collection__head">
          <a class="permalink" href="{{ post.url }}" title="Permalink">
 <time class="">{{ post.date | blogDate }}
 </time>
</a>

 <h2>{{ post.data.title }} </h2>

    <div class="post__excerpt">
    {% if post.data.excerpt %}
      {{ post.data.excerpt | md | safe }}
    {% else %}
      {{ post.page.excerpt | md | safe }}
    {% endif %}
        </div>
    </li>
  {% endfor %}

</ul>